@model IEnumerable<String>
@{ ViewBag.Title = "Index"; }
<h2>Index</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item, "Product", new { name = item })</li>
    }
</ul>